.auth{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $light; 
}
.text-content{
    color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 90%;
}
